{% extends 'portfolio\base.html' %}

{% block content %}

{% load static %}
<div class="row justify-content-center">
        <div class="col-4">
                <img src="{% static 'Profile_Photo.jpg' %}" height="350" width="350" class="img-fluid img-thumbnail ">
        </div>
</div>
<div class="row justify-content-center">
        <div class="col-8">
                <h1 class="text-center fw-bold">Hi 👋, I'm Vignesh Ganesan.<br>An upcoming Software Developer, tech
                        enthusiast and
                        football player from India😊</h1>
        </div>
</div>
<br>
<span class="fs-2">Projects</span>
<hr>
<div class="row">
        {% for project in projects %}
        <div class="col-4">
                {% if project.url %}
                <a href="{{project.url}}">
                        <img src="{{ project.image.url }}" width="325" height="200">
                </a>
                {% else %}
                <img src="{{ project.image.url }}" width="325" height="200">
                {% endif %}
                <h3>{{project.title}}</h3>
                <p>{{project.discription}}</p>
        </div>
        {% endfor %}
</div>
{% endblock content %}